.container{
  @include container(1024px);
}

// define base padding and margin
$side:left,right,bottom,top;
$sideNickName:l,r,b,t;
@include baseDistance('m',margin,15px,6);
@include baseDistance('p',padding,15px,6);

@for $i from 1 through 4{
    @include baseDistance('m'+nth($sideNickName,$i),margin+'-'+nth($side,$i),10px,6);
    @include baseDistance('p'+nth($sideNickName,$i),padding+'-'+nth($side,$i),10px,6);
}

@include flex;
@include disabled_input_arrow;
@include visibility;
.header{
    // .container{
    //     position: relative;
    // }
    background-color: $headerBGC;
    @include result(){
        background-color: $main_color;
    };
    .wrap_inputHW{
        label{
            color: $main_color;
            line-height: 2em;
        }
        input{
            font-size: $font_size_2d;
            display: block;
            width:250px;
            height: 40px;
            border: 2px solid $main_color;
            border-radius: 10px;
            background-color: $headerBGC;
            padding: 8px;
            outline:none;
            &:focus{
                background-color: #757575;
                &::placeholder{
                    color:$contentBGC;
                }
            }
            &::placeholder{
                font-size: $font_size_2d;
                line-height: 40px;
            }
        }
        label{
            display: block;
        }
    }
    .wrap_reset{
        position: relative;
        >p:last-of-type{
            font-size: 32px;
            position: absolute;
            bottom: 50px;
            left: 150px;
            white-space: nowrap;
        }
    }
    .promptText{
        color: red;
        font-size:$font_size_2d;
    }
    
  @include reset;
}

.footer{
    background-color: $main_color;
    text-align: center;
    img{
        filter:invert(1) grayscale(1) brightness(4);
        transform:scale(.5)
    }
}






