/* css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* 
HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
box-sizing: border-box;
font-family:PingFangSC-Regular,'Microsoft JhengHei', sans-serif; 
}
/* 
    layout css
*/
.header{
    box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    top:0;
    background-color:rgba(19, 6, 6, 0.1);
}
.header h1>a {
    background-image: url(../images/logo.png);
    display: block;
    width: 170px;
    height: 36px;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
}
.header ul li a{
    display: block;
    font-weight: 700;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    color: #FFF;
    padding:20px;
}
.header ul li a:hover{
    color: #42d3a9;
}
.header ul li a:after {
    content: "";
    position: absolute;
    height: 7px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #00cb9b;
    transform: scaleX(0);
    transform-origin: bottom left;
  }
.header ul li a:hover:after {
    transition: transform 0.5s;
    transform: scaleX(1);
}
.footer{
    background-color: #323228;
}
.footer .wrapSocialMedia{
    display: flex;
}
.footer h4{
    color: #868684;
    text-align: right;
}
.footer a {
    display: block;
    padding: 0 10px;
    transform:scale(1);
}
.footer a:hover{
    transition: .5s ;
    transform:scale(1.2);
}

/*
reusable css
*/

.lightGreenColor{
    color :#00cc99;
}
.mainH2{
    font-size: 30px;
    color :#00cc99;
}
.mainH3{
    color: #9b9b9b;
    font-size: 20px;
    font-weight: 600;
    margin-left: 16px;
}

.pt10{
padding-top: 10px;
}
.pb10{
    padding-bottom: 10px;
}
.pl10{
    padding-left: 10px;
}
.pr10{
    padding-right: 10px;
}
.pt20{
    padding-top: 20px;
}
.pl20{
    padding-left: 20px;
}
.pr20{
    padding-right: 20px;
}
.pb20{
    padding-bottom: 20px;
}
.pl40{
    padding-left: 40px;
}
.pr40{
    padding-right: 40px;
}
.p40{
    padding: 40px;
}
.mt30{
    margin-top: 30px;
}
.mt60{
    margin-top: 60px;
}

.df{
    display: flex;
}
.jcsb{  
    justify-content: space-between;
}
.aic{
    align-items:center;
}
.jcc{
    justify-content: center;
}
.fxdc{
    flex-direction: column;
}
.aife{
    align-items: flex-end;
}
.fxww{
    flex-wrap: wrap;
}
.m0Auto1024{
    margin: 0 auto;
    width: 1024px;
}
.banner{
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    position: relative;
}
.banner h2{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.8em;
}
.greenButton{
    padding: 16px 30px;
    font-size: 20px;
    border-radius :4px;
    border: 0;
    outline:none;
    color: #FFF;
    background-color: #00cc99;
    text-align: center;
    font-weight: 700;
}
.greenButton:hover{
    cursor:pointer;
    background-color: rgb(9, 156, 137);
}

/* 
    index css
*/
.indexBanner{
    background-image: url(../images/bannerMain.png);
}
.indexBanner .pl40 h2{
    color: #00cc99;
}
.indexBanner h2 span{
    color:#FFF;
}

.selectClass button{
    color :#00cc99;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #00cc99;
    border-radius: 4px;
    font-weight: 700;
}
.selectClass button:hover{
    background-color: rgba(233, 233, 233, 0.438);
    cursor:pointer
}
.selectClass ul{
    display: flex;
    justify-content: space-between;
}
.selectClass ul li{
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);

    width: 31%;
    margin: 30px 1% 0px 1%;
}
.selectClass a{
    padding: 30px 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    transform:scale(1);
}

.selectClass li:hover{
    transition: .5s;
    transform:scale(1.05);
}

.selectClass h4{
    margin-top: 20px;
    color: #6e6e6e;
    font-weight: 700;
}
.selectClass p{
    margin-top: 20px;
    line-height: 1.5em;
    font-weight: 600;
    color: #9b9b9b;
}
.selectClass ul>li:first-child{
    margin-left: 0%;   
}
.selectClass ul>li:last-child{
    margin-right: 0%;   
}
.contrastClass table{
    text-align: center;
}
.contrastClass td,.contrastClass th{
    border-bottom: 1px solid #dddddd;
}
.contrastClass tr:first-child th{
    border-bottom: 0;
}
.contrastClass table th{
    font-weight: 600;
    padding: 16px 0;
}
.contrastClass tr:first-child{
    background-color: #ebebeb;
}
.contrastClass tr:hover{
    background-color: rgb(223, 223, 223);
}
.contrastClass tr:first-child:hover{
    background-color: #ebebeb;
}
.indexForm{
    background-color: #ebebeb;
    padding-top: 140px;
    padding-bottom: 60px;
}
.indexForm h3{
    font-size: 30px;
    line-height: 1.8em;
}
.wrapFormData input[type="text"]{
    width: 450px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border:0;
    border-radius: 4px;
}
.wrapFormData input[type="submit"]{
    box-sizing: border-box;
    font-weight: 600;
    background-color: #00cc99;
    color: #fff;
    border:0;
    border-radius: 4px;
    letter-spacing: 1em;
    text-indent: 1em;
    padding: 10px;
    font-size: 20px;
}
.wrapFormData input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(9, 156, 137);
}

.wrapFormData input[type="submit"]:focus{
    outline:none;
}
/* 
    course css
*/
.courseBanner{
    background-image: url(../images/bannerClass.png);
}
.courseBanner h3{
    font-size: 24px;
    font-weight: 600;
    color: #00cc99;
}
.courseBanner .imgHtml{
    position: absolute;
    top: 25%;
    right:17%;
}
.courseBanner .imgCss{
    position: absolute;
    top: 25%;
    right:5%;
}
.courseContent{
    padding: 0 200px;
}
.courseContent h2 span{
    line-height: 1.5em;
    color:#000;
}
.courseContent ul li{
    color: #9b9b9b;
    list-style:inside;
}
.whatIsSpecial ol{
    color: #323232;
    list-style-type: decimal;
    font-weight: 600;
}
.courseTitle table{
    width: 100%;
    text-align: left;
}
.courseTitle tr th,.courseTitle tr td{
    font-weight: 600;
    padding: 20px 40px; 
}
.courseTitle table tr:nth-child(odd){
    background-color: #ebebeb;
}
.courseTitle table tr:nth-child(even){
    color:#9b9b9b;
}
.courseForm{
    background-color: #ebebeb;
    height: 400px;
}
.courseForm h3{
    font-weight: 600;
    font-size: 30px;
    margin-right: 60px;
    line-height: 1.8em;
}

/* 
    Q&A css 
*/
.QandAbanner{
    background-image: url(../images/bannerQMark.png);
}
.QandAbanner h2{
    font-size: 50px;
}
.QandAbanner h3{
    font-size: 24px;
    font-weight: 600;
    color: #00cc99;
}
.wrapInputSerach input[type="text"]{
    box-sizing: border-box;
    padding: 15px;
    font-size: 24px;
    width: 600px;
    border : 0;
    height: 50px;
    border-radius: 4px;

}
.wrapInputSerach button{
    position: relative;
    left: -50px;
    box-sizing: border-box;
    outline:none;
    border: 0;
    font-size: 25px;
    padding: 8px;
    background-color: #fff;
}
.wrapInputSerach button:active{
    background-color: #aaa;
}
.wrapInputSerach button:hover{
    cursor:pointer;
}
.QandAContent{
    padding: 60px 120px;
}
.QandAContent h4{
    margin-top: 30px;
    line-height: 1.5em;
    font-weight: 600;
    color:#323223;
    font-size: 20px;
}
.QandAContent p{
    line-height: 1.5em;
    font-weight: 600;
    color:#323223;
    color: #9b9b9b;
    font-size: 16px;
}
.QandAContent a{
    text-decoration: none;
    color: #42d3a9;
}
.QandAContent a:hover{
    color:deeppink;
}
.QandAContent ol{
    line-height: 1.5em;
    font-weight: 600;
    color: #9b9b9b;
    list-style: inside;
    list-style-type: decimal;
    text-indent: 2em;
}

.QandAContent ul{
    line-height: 1.5em;
    font-weight: 600;
    color: #9b9b9b;
    list-style: inside;
    text-indent: 3em;
}
.QandAContent .refundNext{
    color:#323223;
}
.QandAForm{
    background-color: #ebebeb;
    padding-top: 140px;
    padding-bottom: 60px;
}
.QandAForm textarea{
    resize:none;
    border:0;
    padding:8px 16px ;
    width: 450px;
    border-radius: 4px;
    height:200px;
}
.QandAForm h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.8em;
}
.QandAForm input[type="submit"]{
    margin-top: 20px;
}
